* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 400px;
  height: 500px;
  background: red;
  
}
.input-container {
  background: blue;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 6px;

}
.login-title {
  font-size: xx-large;
  text-align: center;
}
.login-input{
    margin-top: 20px;
    height: 45px;
    outline: none;
}