* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
      box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
      
  width: 400px;
  height: 500px;

  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;


}
.input-container {

  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 6px;

}
.login-title {
  font-size: xx-large;
  text-align: center;

    background: -webkit-linear-gradient(
    103deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login-input{
    margin-top: 20px;
    height: 45px;
    outline: none;
}

.btn-login{
    width: 95%;
    height: 40px;
    font-size: x-large;
    background-color: #4cc5c6;
    border: 1px solid black;
}
.btn-login:hover{
    background-color: #13cbfa;
    color: #fff;
}

@media screen and (max-width: 600px) {
.form-container {
    width: 100%;
    height: 100%;
}
.login-title{
    font-size: x-large;
}
.login-input{
    text-align: center;
}

}