* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courgette", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Hind Madurai", sans-serif;
}

/* head/navbar */
.navbar-container {
  width: 100vw;
  height: 80px;
  background: #111;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 6;
}
.title-web {
  margin-left: 10px;
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
}
/* nav tag */
.menu-container {
  height: 80px;
  width: 500px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}
/* ul tag */
.menu {
  width: 70%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5px 0 5px;
}
.link-menu {
  text-decoration: none;
  color: #fff;
  font-size: x-large;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
}

.link-menu:hover {
  background: linear-gradient(
    103deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border: #fff solid 1px;
}
/* icon */
#icon-navbar {
  display: none;
  color: #fff;
}
/* main */

/* animation text */
.welcome-container {
  width: 100%;
  height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15vw;
}
.h2-container-welcome {
  display: flex;
  font-size: inherit;
  color: transparent;
}

.h2-container-welcome span {
  animation: text-animate 3s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes text-animate {
  0% {
    color: #fff;
    filter: blur(0.5px) hue-rotate(0deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }
  30%,
  70% {
    color: #fff;
    filter: blur(0.5px) hue-rotate(360deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff;
  }
  100% {
    color: transparent;
    box-shadow: none;
    filter: blur(0.5px) hue-rotate(0deg);
  }
}
/* style big cards */
.big-card-box {
  width: 100vw;
  min-height: 110vh;
  background: #111;
  display: flex;
  flex-direction: row;
}
.big-card-box:nth-child(even) {
  flex-direction: row-reverse;
}
.text-box-big-card {
  background-color: #111;
  color: #fff;
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  columns: 120px auto;
}
.big-img-card {
  height: 110vh;
  width: 50%;
}

/* shop page style */
.container-product-card {
  width: 100%;
  height: 100vh;
  background: #111;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* animation card */
.card {
  width: 400px;
  height: 450px;
  border: 0.2rem solid;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-image: linear-gradient(
      103deg,
      rgba(131, 58, 180, 1),
      rgba(253, 29, 29, 1),
      rgba(252, 176, 69, 1)
    )
    1;
  animation: rotate 0.5s ease-in infinite;
}

@keyframes rotate {
  50% {
    border-image: linear-gradient(
        103deg,
        rgba(131, 58, 180, 1),
        rgba(252, 176, 69, 1),
        rgba(253, 29, 29, 1)
      )
      1;
  }
}

.image-card {
  z-index: 3;
  height: 200px;
  width: 380px;
}

.desc-card {
  color: #fff;
  text-align: center;
  z-index: 3;
  font-size: 1.5rem;
}
.title-card {
  color: #fff;
}

/* style login page */
.container-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100vw;
}

.container-form {
  min-width: 50%;
  font-size: 2.5rem;
  display: flex;
  background-color: #111;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  height: 400px;
}
.login-input {
  width: 300px;
  height: 50px;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: #fff;
  color: #111;
}
.btn:hover {
  background: #111;
  color: #fff;
  border: 0.1rem solid #fff;
}

/* footer  */
.footer {
  min-height: 300px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  background: #111;
}
/* media query */
@media screen and (max-width: 830px) {
  .menu-container {
    position: absolute;
    top: 80px;
    width: 100vw;
    height: 100vh;
    background-color: #1e1f25;
    position: absolute;
  }
  .menu {
    padding: 20px 0 10px 0;
    flex-direction: column;
    height: 80vh;
  }

  #icon-navbar {
    display: block;
    position: absolute;
    right: 20px;
    font-size: xx-large;
  }
  .navbar-container {
    height: 80px;
  }
}
@media screen and (max-width: 600px) {
  .big-card-box {
    flex-direction: column;
    justify-content: center;
  }
  .big-img-card {
    width: 100%;
  }
  .big-card-box:nth-child(even) {
    flex-direction: column;
  }
  .text-box-big-card {
    width: 100%;
    height: max-content;
    padding: 1rem;
  }
}
